html {
    /* Latte */
    --catpuccin-latte-rosewater: #dc8a78;
    --catpuccin-latte-rosewater-rgb: 220, 138, 120;
    --catpuccin-latte-flamingo: #dd7878;
    --catpuccin-latte-flamingo-rgb: 221, 120, 120;
    --catpuccin-latte-pink: #ea76cb;
    --catpuccin-latte-pink-rgb: 234, 118, 203;
    --catpuccin-latte-mauve: #8839ef;
    --catpuccin-latte-mauve-rgb: 136, 57, 239;
    --catpuccin-latte-red: #d20f39;
    --catpuccin-latte-red-rgb: 210, 15, 57;
    --catpuccin-latte-maroon: #e64553;
    --catpuccin-latte-maroon-rgb: 230, 69, 83;
    --catpuccin-latte-peach: #fe640b;
    --catpuccin-latte-peach-rgb: 254, 100, 11;
    --catpuccin-latte-yellow: #df8e1d;
    --catpuccin-latte-yellow-rgb: 223, 142, 29;
    --catpuccin-latte-green: #40a02b;
    --catpuccin-latte-green-rgb: 64, 160, 43;
    --catpuccin-latte-teal: #179299;
    --catpuccin-latte-teal-rgb: 23, 146, 153;
    --catpuccin-latte-sky: #04a5e5;
    --catpuccin-latte-sky-rgb: 4, 165, 229;
    --catpuccin-latte-sapphire: #209fb5;
    --catpuccin-latte-sapphire-rgb: 32, 159, 181;
    --catpuccin-latte-blue: #1e66f5;
    --catpuccin-latte-blue-rgb: 30, 102, 245;
    --catpuccin-latte-lavender: #7287fd;
    --catpuccin-latte-lavender-rgb: 114, 135, 253;
    --catpuccin-latte-text: #4c4f69;
    --catpuccin-latte-text-rgb: 76, 79, 105;
    --catpuccin-latte-subtext1: #5c5f77;
    --catpuccin-latte-subtext1-rgb: 92, 95, 119;
    --catpuccin-latte-subtext0: #6c6f85;
    --catpuccin-latte-subtext0-rgb: 108, 111, 133;
    --catpuccin-latte-overlay2: #7c7f93;
    --catpuccin-latte-overlay2-rgb: 124, 127, 147;
    --catpuccin-latte-overlay1: #8c8fa1;
    --catpuccin-latte-overlay1-rgb: 140, 143, 161;
    --catpuccin-latte-overlay0: #9ca0b0;
    --catpuccin-latte-overlay0-rgb: 156, 160, 176;
    --catpuccin-latte-surface2: #acb0be;
    --catpuccin-latte-surface2-rgb: 172, 176, 190;
    --catpuccin-latte-surface1: #bcc0cc;
    --catpuccin-latte-surface1-rgb: 188, 192, 204;
    --catpuccin-latte-surface0: #ccd0da;
    --catpuccin-latte-surface0-rgb: 204, 208, 218;
    --catpuccin-latte-base: #eff1f5;
    --catpuccin-latte-base-rgb: 239, 241, 245;
    --catpuccin-latte-mantle: #e6e9ef;
    --catpuccin-latte-mantle-rgb: 230, 233, 239;
    --catpuccin-latte-crust: #dce0e8;
    --catpuccin-latte-crust-rgb: 220, 224, 232;

    /* Frappe */
    --catpuccin-frappe-rosewater: #f2d5cf;
    --catpuccin-frappe-rosewater-rgb: 242, 213, 207;
    --catpuccin-frappe-flamingo: #eebebe;
    --catpuccin-frappe-flamingo-rgb: 238, 190, 190;
    --catpuccin-frappe-pink: #f4b8e4;
    --catpuccin-frappe-pink-rgb: 244, 184, 228;
    --catpuccin-frappe-mauve: #ca9ee6;
    --catpuccin-frappe-mauve-rgb: 202, 158, 230;
    --catpuccin-frappe-red: #e78284;
    --catpuccin-frappe-red-rgb: 231, 130, 132;
    --catpuccin-frappe-maroon: #ea999c;
    --catpuccin-frappe-maroon-rgb: 234, 153, 156;
    --catpuccin-frappe-peach: #ef9f76;
    --catpuccin-frappe-peach-rgb: 239, 159, 118;
    --catpuccin-frappe-yellow: #e5c890;
    --catpuccin-frappe-yellow-rgb: 229, 200, 144;
    --catpuccin-frappe-green: #a6d189;
    --catpuccin-frappe-green-rgb: 166, 209, 137;
    --catpuccin-frappe-teal: #81c8be;
    --catpuccin-frappe-teal-rgb: 129, 200, 190;
    --catpuccin-frappe-sky: #99d1db;
    --catpuccin-frappe-sky-rgb: 153, 209, 219;
    --catpuccin-frappe-sapphire: #85c1dc;
    --catpuccin-frappe-sapphire-rgb: 133, 193, 220;
    --catpuccin-frappe-blue: #8caaee;
    --catpuccin-frappe-blue-rgb: 140, 170, 238;
    --catpuccin-frappe-lavender: #babbf1;
    --catpuccin-frappe-lavender-rgb: 186, 187, 241;
    --catpuccin-frappe-text: #c6d0f5;
    --catpuccin-frappe-text-rgb: 198, 208, 245;
    --catpuccin-frappe-subtext1: #b5bfe2;
    --catpuccin-frappe-subtext1-rgb: 181, 191, 226;
    --catpuccin-frappe-subtext0: #a5adce;
    --catpuccin-frappe-subtext0-rgb: 165, 173, 206;
    --catpuccin-frappe-overlay2: #949cbb;
    --catpuccin-frappe-overlay2-rgb: 148, 156, 187;
    --catpuccin-frappe-overlay1: #838ba7;
    --catpuccin-frappe-overlay1-rgb: 131, 139, 167;
    --catpuccin-frappe-overlay0: #737994;
    --catpuccin-frappe-overlay0-rgb: 115, 121, 148;
    --catpuccin-frappe-surface2: #626880;
    --catpuccin-frappe-surface2-rgb: 98, 104, 128;
    --catpuccin-frappe-surface1: #51576d;
    --catpuccin-frappe-surface1-rgb: 81, 87, 109;
    --catpuccin-frappe-surface0: #414559;
    --catpuccin-frappe-surface0-rgb: 65, 69, 89;
    --catpuccin-frappe-base: #303446;
    --catpuccin-frappe-base-rgb: 48, 52, 70;
    --catpuccin-frappe-mantle: #292c3c;
    --catpuccin-frappe-mantle-rgb: 41, 44, 60;
    --catpuccin-frappe-crust: #232634;
    --catpuccin-frappe-crust-rgb: 35, 38, 52;

    /* Macchiato */
    --catpuccin-macchi-rosewater: #f4dbd6;
    --catpuccin-macchi-rosewater-rgb: 244, 219, 214;
    --catpuccin-macchi-flamingo: #f0c6c6;
    --catpuccin-macchi-flamingo-rgb: 240, 198, 198;
    --catpuccin-macchi-pink: #f5bde6;
    --catpuccin-macchi-pink-rgb: 245, 189, 230;
    --catpuccin-macchi-mauve: #c6a0f6;
    --catpuccin-macchi-mauve-rgb: 198, 160, 246;
    --catpuccin-macchi-red: #ed8796;
    --catpuccin-macchi-red-rgb: 237, 135, 150;
    --catpuccin-macchi-maroon: #ee99a0;
    --catpuccin-macchi-maroon-rgb: 238, 153, 160;
    --catpuccin-macchi-peach: #f5a97f;
    --catpuccin-macchi-peach-rgb: 245, 169, 127;
    --catpuccin-macchi-yellow: #eed49f;
    --catpuccin-macchi-yellow-rgb: 238, 212, 159;
    --catpuccin-macchi-green: #a6da95;
    --catpuccin-macchi-green-rgb: 166, 218, 149;
    --catpuccin-macchi-teal: #8bd5ca;
    --catpuccin-macchi-teal-rgb: 139, 213, 202;
    --catpuccin-macchi-sky: #91d7e3;
    --catpuccin-macchi-sky-rgb: 145, 215, 227;
    --catpuccin-macchi-sapphire: #7dc4e4;
    --catpuccin-macchi-sapphire-rgb: 125, 196, 228;
    --catpuccin-macchi-blue: #8aadf4;
    --catpuccin-macchi-blue-rgb: 138, 173, 244;
    --catpuccin-macchi-lavender: #b7bdf8;
    --catpuccin-macchi-lavender-rgb: 183, 189, 248;
    --catpuccin-macchi-text: #cad3f5;
    --catpuccin-macchi-text-rgb: 202, 211, 245;
    --catpuccin-macchi-subtext1: #b8c0e0;
    --catpuccin-macchi-subtext1-rgb: 184, 192, 224;
    --catpuccin-macchi-subtext0: #a5adcb;
    --catpuccin-macchi-subtext0-rgb: 165, 173, 203;
    --catpuccin-macchi-overlay2: #939ab7;
    --catpuccin-macchi-overlay2-rgb: 147, 154, 183;
    --catpuccin-macchi-overlay1: #8087a2;
    --catpuccin-macchi-overlay1-rgb: 128, 135, 162;
    --catpuccin-macchi-overlay0: #6e738d;
    --catpuccin-macchi-overlay0-rgb: 110, 115, 141;
    --catpuccin-macchi-surface2: #5b6078;
    --catpuccin-macchi-surface2-rgb: 91, 96, 120;
    --catpuccin-macchi-surface1: #494d64;
    --catpuccin-macchi-surface1-rgb: 73, 77, 100;
    --catpuccin-macchi-surface0: #363a4f;
    --catpuccin-macchi-surface0-rgb: 54, 58, 79;
    --catpuccin-macchi-base: #24273a;
    --catpuccin-macchi-base-rgb: 36, 39, 58;
    --catpuccin-macchi-mantle: #1e2030;
    --catpuccin-macchi-mantle-rgb: 30, 32, 48;
    --catpuccin-macchi-crust: #181926;
    --catpuccin-macchi-crust-rgb: 24, 25, 38;

    /* Mocha */
    --catpuccin-mocha-rosewater: #f5e0dc;
    --catpuccin-mocha-rosewater-rgb: 245, 224, 220;
    --catpuccin-mocha-flamingo: #f2cdcd;
    --catpuccin-mocha-flamingo-rgb: 242, 205, 205;
    --catpuccin-mocha-pink: #f5c2e7;
    --catpuccin-mocha-pink-rgb: 245, 194, 231;
    --catpuccin-mocha-mauve: #cba6f7;
    --catpuccin-mocha-mauve-rgb: 203, 166, 247;
    --catpuccin-mocha-red: #f38ba8;
    --catpuccin-mocha-red-rgb: 243, 139, 168;
    --catpuccin-mocha-maroon: #eba0ac;
    --catpuccin-mocha-maroon-rgb: 235, 160, 172;
    --catpuccin-mocha-peach: #fab387;
    --catpuccin-mocha-peach-rgb: 250, 179, 135;
    --catpuccin-mocha-yellow: #f9e2af;
    --catpuccin-mocha-yellow-rgb: 249, 226, 175;
    --catpuccin-mocha-green: #a6e3a1;
    --catpuccin-mocha-green-rgb: 166, 227, 161;
    --catpuccin-mocha-teal: #94e2d5;
    --catpuccin-mocha-teal-rgb: 148, 226, 213;
    --catpuccin-mocha-sky: #89dceb;
    --catpuccin-mocha-sky-rgb: 137, 220, 235;
    --catpuccin-mocha-sapphire: #74c7ec;
    --catpuccin-mocha-sapphire-rgb: 116, 199, 236;
    --catpuccin-mocha-blue: #89b4fa;
    --catpuccin-mocha-blue-rgb: 137, 180, 250;
    --catpuccin-mocha-lavender: #b4befe;
    --catpuccin-mocha-lavender-rgb: 180, 190, 254;
    --catpuccin-mocha-text: #cdd6f4;
    --catpuccin-mocha-text-rgb: 205, 214, 244;
    --catpuccin-mocha-subtext1: #bac2de;
    --catpuccin-mocha-subtext1-rgb: 186, 194, 222;
    --catpuccin-mocha-subtext0: #a6adc8;
    --catpuccin-mocha-subtext0-rgb: 166, 173, 200;
    --catpuccin-mocha-overlay2: #9399b2;
    --catpuccin-mocha-overlay2-rgb: 147, 153, 178;
    --catpuccin-mocha-overlay1: #7f849c;
    --catpuccin-mocha-overlay1-rgb: 127, 132, 156;
    --catpuccin-mocha-overlay0: #6c7086;
    --catpuccin-mocha-overlay0-rgb: 108, 112, 134;
    --catpuccin-mocha-surface2: #585b70;
    --catpuccin-mocha-surface2-rgb: 88, 91, 112;
    --catpuccin-mocha-surface1: #45475a;
    --catpuccin-mocha-surface1-rgb: 69, 71, 90;
    --catpuccin-mocha-surface0: #313244;
    --catpuccin-mocha-surface0-rgb: 49, 50, 68;
    --catpuccin-mocha-base: #1e1e2e;
    --catpuccin-mocha-base-rgb: 30, 30, 46;
    --catpuccin-mocha-mantle: #181825;
    --catpuccin-mocha-mantle-rgb: 24, 24, 37;
    --catpuccin-mocha-crust: #11111b;
    --catpuccin-mocha-crust-rgb: 17, 17, 27;

    /* Defaults */
    --clr-bg: var(--catpuccin-mocha-base);
    --clr-bg-rgb: var(--catpuccin-mocha-base-rgb);
    --clr-text: var(--catpuccin-mocha-text);
    --clr-text-rgb: var(--catpuccin-mocha-text-rgb);
    --clr-subtext: var(--catpuccin-mocha-subtext0);
    --clr-subtext-rgb: var(--catpuccin-mocha-subtext0-rgb);
    --clr-accent: var(--catpuccin-mocha-blue);
    --clr-accent-rgb: var(--catpuccin-mocha-blue-rgb);
    --clr-accent2: var(--catpuccin-mocha-sky);
    --clr-accent2-rgb: var(--catpuccin-mocha-sky-rgb);
    --clr-overlay: var(--catpuccin-mocha-overlay0);
    --clr-overlay-rgb: var(--catpuccin-mocha-overlay0-rgb);
    --clr-surface: var(--catpuccin-mocha-surface0);
    --clr-surface-rgb: var(--catpuccin-mocha-surface0-rgb);
    --clr-surface1: var(--catpuccin-mocha-surface1);
    --clr-surface1-rgb: var(--catpuccin-mocha-surface1-rgb);
    --clr-red: var(--catpuccin-mocha-red);
    --clr-red-rgb: var(--catpuccin-mocha-red-rgb);
    --clr-peach: var(--catpuccin-mocha-peach);
    --clr-peach-rgb: var(--catpuccin-mocha-peach-rgb);
    --clr-yellow: var(--catpuccin-mocha-yellow);
    --clr-yellow-rgb: var(--catpuccin-mocha-yellow-rgb);
    --clr-green: var(--catpuccin-mocha-green);
    --clr-green-rgb: var(--catpuccin-mocha-green-rgb);
    --clr-blue: var(--catpuccin-mocha-blue);
    --clr-blue-rgb: var(--catpuccin-mocha-blue-rgb);
    --clr-lavender: var(--catpuccin-mocha-lavender);
    --clr-lavender-rgb: var(--catpuccin-mocha-lavender-rgb);
    --clr-white: var(--catpuccin-mocha-text);
    --clr-white-rgb: var(--catpuccin-mocha-text-rgb);
    --clr-black: var(--catpuccin-mocha-crust);
    --clr-black-rgb: var(--catpuccin-mocha-crust-rgb);

    /* Transparency */
    --trans1: 0.75;
    --trans0: 0.5;

    --clr-bg-trans0: rgba(var(--clr-bg-rgb), var(--trans0));
    --clr-bg-trans1: rgba(var(--clr-bg-rgb), var(--trans1));
    --clr-text-trans0: rgba(var(--clr-text-rgb), var(--trans0));
    --clr-text-trans1: rgba(var(--clr-text-rgb), var(--trans1));
    --clr-subtext-trans0: rgba(var(--clr-subtext-rgb), var(--trans0));
    --clr-subtext-trans1: rgba(var(--clr-subtext-rgb), var(--trans1));
    --clr-accent-trans0: rgba(var(--clr-accent-rgb), var(--trans0));
    --clr-accent-trans1: rgba(var(--clr-accent-rgb), var(--trans1));
    --clr-accent2-trans0: rgba(var(--clr-accent2-rgb), var(--trans0));
    --clr-accent2-trans1: rgba(var(--clr-accent2-rgb), var(--trans1));
    --clr-overlay-trans0: rgba(var(--clr-overlay-rgb), var(--trans0));
    --clr-overlay-trans1: rgba(var(--clr-overlay-rgb), var(--trans1));
    --clr-surface-trans0: rgba(var(--clr-surface-rgb), var(--trans0));
    --clr-surface-trans1: rgba(var(--clr-surface-rgb), var(--trans1));
    --clr-surface1-trans0: rgba(var(--clr-surface1-rgb), var(--trans0));
    --clr-surface1-trans1: rgba(var(--clr-surface1-rgb), var(--trans1));
    --clr-red-trans1: rgba(var(--clr-red-rgb), var(--trans1));
    --clr-red-trans0: rgba(var(--clr-red-rgb), var(--trans0));
    --clr-peach-trans1: rgba(var(--clr-peach-rgb), var(--trans1));
    --clr-peach-trans0: rgba(var(--clr-peach-rgb), var(--trans0));
    --clr-yellow-trans1: rgba(var(--clr-yellow-rgb), var(--trans1));
    --clr-yellow-trans0: rgba(var(--clr-yellow-rgb), var(--trans0));
    --clr-green-trans1: rgba(var(--clr-green-rgb), var(--trans1));
    --clr-green-trans0: rgba(var(--clr-green-rgb), var(--trans0));
    --clr-blue-trans1: rgba(var(--clr-blue-rgb), var(--trans1));
    --clr-blue-trans0: rgba(var(--clr-blue-rgb), var(--trans0));
    --clr-lavender-trans1: rgba(var(--clr-lavender-rgb), var(--trans1));
    --clr-lavender-trans0: rgba(var(--clr-lavender-rgb), var(--trans0));
    --clr-white-trans1: rgba(var(--clr-white-rgb), var(--trans1));
    --clr-white-trans0: rgba(var(--clr-white-rgb), var(--trans0));
    --clr-black-trans1: rgba(var(--clr-black-rgb), var(--trans1));
    --clr-black-trans0: rgba(var(--clr-black-rgb), var(--trans0));
}